!app/assets/builds/.keep
!log/.keep
!tmp/.keep
!tmp/pids/
!tmp/pids/.keep
*.log
.DS_Store
.bundle
.env
.env.local
.envrc
.idea
.vscode
app/assets/builds/*
db/*.sqlite3
log/*
node_modules
public/assets
tmp/*
tmp/pids/*

# Development and production master keys
config/master.key
/config/credentials/production.key

# Makefile script
bin/fetch_config.rb
