<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Support home</h1>
    <p class="govuk-body">
      You can delete this action/view once we have support pages.
    </p>
  </div>
</div>
