$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";
@import "govuk-prototype-components/x-govuk/components/summary-card/summary-card"
